root {
    display: block;
}

.root {
    -fx-background-color: #002b45;
    -fx-text-fill: #ffffff;
}

.text {
    -fx-font-size: 12px;
    -fx-fill: #ffffff;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: #E0AA0F;
    -fx-padding: 3 15 3 15;
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #ffffff;
}

#title {
  -fx-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 24px;
}

#message {
  -fx-fill: PINK;
  -fx-font-weight: bold;
}
